body {
	background-image: url('/index.php/apps/theming/image/background');
	font-family: 'Nunito', 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;
}

input[type="text"], input[type="tel"], input[type="password"], input[type="email"] {
    width: 249px;
    background: #fff;
    color: #555;
    cursor: text;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    box-sizing: content-box;
    border: none;
    font-weight: normal;
    font-size: 20px;
    margin: 5px;
    margin-bottom: 5px;
    padding: 11px 10px 9px;
    outline: none;
    border-radius: 3px;
}

#logo {
	padding: 1em;
	margin: auto;
	text-align: center;
}

#ausgabe {
	width: 20em;
	margin: 5em auto;
	color: black;
	margin-top: 15px;
	padding: 15px;
	background-color: rgba(0,0,0,.3);
	color: #fff;
	text-align: left;
	word-wrap: break-word;
	border-radius: 10px;
	cursor: default;
}

#ausgabe input {
	margin: 2px;
} 

.ok {
	color: #c6e2c5;
	font-weight:bold;
}
.error {
	color: #b70017;
	font-weight:bold;
}
